name = "antiscambottool"
main = "src/index.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-11-25"
send_metrics = false
preview_urls = false
workers_dev = false

services = [
  { binding = "API_SERVICE", service = "antiscamapi", entrypoint = "APILookup" },
  { binding = "REPORT", service="antiscamreport", entrypoint="ScamReportBridge"},
]

routes = [
  { pattern = "tool.scamguard.app", custom_domain = true },
]

kv_namespaces = [
  { binding="FORBID_LIST", id="fef7637f60014232bcab3794aa530db3"},
  { binding="CAN_REPORT", id="65a8b172d3014e11960367d0f4c8d480"},
  { binding="REPORT_THREAD_CHAIN", id="6acf800bb3fa47f88eb9d296a0808668" },
]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1

[placement]
mode = "smart"

[triggers]
crons = ["0 3 * * 2"]

[vars]
# some logging settings
LOG_COMMAND_RUN="true"
LOG_ERRORS="true"
# if instead of chaining based on message source, chains are maintained based off user reported
USE_USER_TO_THREAD="true"
# time for how long we should keep chain threads active
# supports strings such as "1hr 5m"
# this only is used/works if USE_USER_TO_THREAD is false
CHAIN_TTL="1d 6h 30m"
# control/moderation flag overrides
USES_BLOCKLIST="true"
# if everyone is allowed to report rather than checking KV entries
ALL_CAN_REPORT="false"
# if an user can be reported after already being banned
CAN_REPORT_BANNED="true"
# If /lookup is enabled, the click commands are better than being typed (less potential for error)
USE_SLASH_LOOKUP="false"
