name = "antiscambottool"
main = "src/index.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-11-25"
send_metrics = false
preview_urls = false
workers_dev = false

services = [
  { binding = "API_SERVICE", service = "antiscamapi", entrypoint = "APILookup" },
  { binding = "REPORT", service="antiscamreport", entrypoint="ScamReportBridge"},
]

routes = [
  { pattern = "tool.scamguard.app", custom_domain = true },
]

kv_namespaces = [
  { binding="FORBID_LIST", id="fef7637f60014232bcab3794aa530db3"},
  { binding="CAN_REPORT", id="65a8b172d3014e11960367d0f4c8d480"},
  { binding="REPORT_THREAD_CHAIN", id="ccb03dbeefb34d82b56bbe44ad11a4a8" },
]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1

[placement]
mode = "smart"

[vars]
# some logging settings
LOG_COMMAND_RUN="true"
LOG_ERRORS="true"
# time for how long we should keep chain threads active
# supports strings such as "1hr 5m"
CHAIN_TTL="1d 6h 30m"
# control/moderation flag overrides
USES_BLOCKLIST="true"
# if everyone is allowed to report rather than checking KV entries
ALL_CAN_REPORT="false"
# if an user can be reported after already being banned
CAN_REPORT_BANNED="false"
