name = "antiscambothelper"
main = "src/index.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-11-25"
send_metrics = false
preview_urls = true
workers_dev = true

services = [
  { binding = "API_SERVICE", service = "scamguardapi", entrypoint = "APILookup" },
]

routes = [
  { pattern = "tool.scamguard.app/*", zone_name = "scamguard.app" },
  { pattern = "tool.scamguard.app", zone_name = "scamguard.app" },
]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1

[vars]
LOG_COMMAND_RUN="true"