name = "antiscambottool"
main = "src/index.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-11-25"
send_metrics = false
minify = true
upload_source_maps = true
preview_urls = false
workers_dev = false

services = [
  { binding = "API_SERVICE", service = "antiscamapi", entrypoint = "APILookup" },
  { binding = "REPORT", service="antiscamreport", entrypoint="ScamReportBridge" },
]

routes = [
  { pattern = "tool.scamguard.app", custom_domain = true },
]

kv_namespaces = [
  { binding="FORBID_LIST", id="fef7637f60014232bcab3794aa530db3"},
  { binding="CAN_REPORT", id="65a8b172d3014e11960367d0f4c8d480"},
  { binding="REPORT_THREAD_CHAIN", id="6acf800bb3fa47f88eb9d296a0808668" },
]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
[observability.traces]
enabled = true
head_sampling_rate = 0.5
persist = true

# flags required to run wrangler in linux
[dev]
ip = "127.0.0.1"

[placement]
mode = "smart"

[triggers]
crons = ["0 3 * * 2"]

[vars]
# redirect_to_install: if the tool should redirect to install on invalid pathing
# accounts: other accounts that are related to this app
APP_SETTINGS={redirect_to_install=true, accounts=["1152057650226401320", "1176299970568147057", "1226254289161158776", "1443130827662823557"]}

# log_run: should commands log their execution
# log_errors: should we log error messages
# use_forbid_list: if the tool should check if an user is not allowed
COMMAND_SETTINGS={log_run=true, log_errors=true, use_forbid_list=true}

# allow_all: if all users can report, allow list unneeded
# report_banned: if banned accounts can continue to be reported until cleanup
# use_message_source: if reports should be based on source channel or by the reported account
# message_source_lifetime: time of how long we should keep chain threads active. only used if use_message_source is false
REPORT_SETTINGS={allow_all=true, report_banned=true, thread_by_user=true, message_source_lifetime="1d 6h 30m"}

# slash_enabled: if /lookup is enabled. Usually disabled to prevent mistakes
LOOKUP_SETTINGS={slash_enabled=false}
